<form class="selector" [formGroup]="selectorForm" (ngSubmit)="onSubmit()" role="group" aria-labelledby="page-selector-label">
  <div class="card">
    <div class="col-12 py-0">
      <div class="selector-item">
        <app-checkbox style="width: 100%;"
            [control]="selectAllControl"
            label="All pages"
            (checkedChange)="toggleSelectAll()"
          ></app-checkbox>
      </div>

      <hr />

      <ul>
        <li class="selector-item" *ngFor="let item of selectorItems; let i = index">
          <app-checkbox style="width: 100%;"
            [control]="getFormControl(i)"
            [label]="item.title"
            (checkedChange)="toggleItemSelection()"
          ></app-checkbox>
        </li>
      </ul>

      <hr />

      <div class="selector-submit">
        <app-button buttonText="Done" [disabled]="selectorForm.invalid"></app-button>
      </div>
    </div>
  </div>
</form>
