button {
  background-color: #FFCE22;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 100%;
  height: auto;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 20px;
  transition: background-color 0.2s ease, transform 0.1s ease;
  outline: none;
  -webkit-tap-highlight-color: transparent; /* Removes tap highlight on mobile */
}

button:hover {
  background-color: #FFD84D;
}

button:active {
  background-color: #FFCE22;
}
